/* ------------------------------------------------------------------------- */

 body { overflow:hidden;
        margin:0;padding:0; }

 .isDone > #fullscreen { background-color:rgba(255,255,0,0.1); }
 .under    { z-index:-1!important; }
 .loading { background-color:#ffd5d5; }
 .loading { animation: colorfade 3s linear infinite;
         -o-animation: colorfade 3s linear infinite;
       -moz-animation: colorfade 3s linear infinite;
    -webkit-animation: colorfade 3s linear infinite; }

 @keyframes colorfade
 {  0% { background-color:#ffd5d5; }
   50% { background-color:#ff5555; }
  100% { background-color:#ffd5d5; }
 }
 @-o-keyframes colorfade
 {  0% { background-color:#ffd5d5; }
   50% { background-color:#ff5555; }
  100% { background-color:#ffd5d5; }
 }
 @-moz-keyframes colorfade
 {  0% { background-color:#ffd5d5; }
   50% { background-color:#ff5555; }
  100% { background-color:#ffd5d5; }
 }
 @-webkit-keyframes colorfade
 {  0% { background-color:#ffd5d5; }
   50% { background-color:#ff5555; }
  100% { background-color:#ffd5d5; }
 }

 #fullscreen { position:absolute;
               top:0;left:0;
               width:100%;height:100%;
               z-index:1899900; }

 #fullscreen.loading { background-color:transparent;
                       background-repeat:no-repeat;
                       background-attachment:fixed;
                       background-position:center; 
                       z-index:5100000; }
 #fullscreen.loading { background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='600' height='100'><path d='M 506,20 C 500,12 495,3 476,3 c -19,0 -31,19 -32,36 0,17 10,36 32,36 21,0 31,-13 31,-27 l -28,0 M 431,3 431,75 373,3 373,75 M 360,3 360,75 M 314,3 c 17,0 30,14 31,36 0,22 -11,36 -31,36 l -27,0 0,-72 z m -93,50 42,0 M 209,76 242,5 275,76 M 140,39 c 0,17 11,36 34,36 23,0 32,-20 32,-36 C 206,23 197,4 174,3 151,3 140,22 140,39 z M 93,3 l 0,72 50,0' style='fill:none;stroke:%23ffffff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round'/></svg>");
                       background-size:80%; }

 #touchthis { position:absolute;
              width:100%;height:100%;
              cursor: grab;
              z-index:1900000; }
 #touchthis:active { cursor:grabbing; }

/* ------------------------------------------------------------------------- */

   .select > * { /* http://lfkn.de/csssvgcolor */
                /*filter: brightness(0.5) 
                          contrast(0)
                          sepia(1) 
                          hue-rotate(-70deg) 
                          saturate(5); */
                 visibility:visible!important;
               /*opacity:1!important;*/
   }
   .unselect > * {  visibility:hidden;
                   /*opacity:0.5;*/
   }

   .select { background-repeat:no-repeat;
             background-attachment:fixed;
             background-position:center; }

   .unSet > *  { background-image:none!important; }

   .select.unSet   { background-color:#ff0404!important; }
   .unselect.unSet { background-color:transparent!important; }
   .select.unSet   { background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='600' height='100'><path d='m 513,3 c 18,0 30,14 31,36 0,22 -11,36 -31,36 l -27,0 0,-72 z m -40,0 -54,0 0,72 54,0 m -54,-38 33,0 M 408,3 374,75 342,3 m -76,36 c 0,17 10,36 33,36 23,0 33,-19 33,-36 C 333,22 322,3 299,3 276,3 266,22 266,39 z m -76,36 0,-72 33,72 33,-72 0,72 m -77,-72 -54,0 0,72 54,0 m -54,-38 33,0 M 56,75 56,3 91,3 c 13,0 23,7 24,19 -1,12 -11,19 -25,19 l -35,0 m 38,0 21,34' style='fill:none;stroke:%23ff3939;stroke-width:4;stroke-linecap:round;stroke-linejoin:round'/></svg>");
                     background-size:70%; }
   
   .select.isLocked   { background-color:#fff223!important; }
   .unselect.isLocked { background-color:transparent!important; }
   .select.isLocked   { background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='600' height='100'><path d='m 465,4 c 18,0 30,14 31,36 1,22 -11,36 -31,36 l -27,0 0,-72 z m -40,0 -54,0 0,72 54,0 m -54,-38 33,0 M 302,4 302,76 M 360,4 302,52 m 21,-17 37,41 M 291,21 C 288,13 281,4 262,4 c -19,0 -33,12 -33,36 0,24 14,36 33,36 19,0 26,-8 29,-17 M 151,41 c 0,16 11,35 34,35 23,1 32,-19 33,-36 C 218,23 208,5 185,4 162,4 152,23 151,40 z m -47,-37 0,72 50,0' style='fill:none;stroke:%2390ff54;stroke-width:2;stroke-linecap:round;stroke-linejoin:round'/></svg>");
                        background-size:80%; }
   .select.isLocked > * { opacity:0.5; }

   .select.unSet.isLocked { background-color:#ff0404!important; }
   .select.unSet.isLocked { background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='600' height='100'><path d='m 513,3 c 18,0 30,14 31,36 0,22 -11,36 -31,36 l -27,0 0,-72 z m -40,0 -54,0 0,72 54,0 m -54,-38 33,0 M 408,3 374,75 342,3 m -76,36 c 0,17 10,36 33,36 23,0 33,-19 33,-36 C 333,22 322,3 299,3 276,3 266,22 266,39 z m -76,36 0,-72 33,72 33,-72 0,72 m -77,-72 -54,0 0,72 54,0 m -54,-38 33,0 M 56,75 56,3 91,3 c 13,0 23,7 24,19 -1,12 -11,19 -25,19 l -35,0 m 38,0 21,34' style='fill:none;stroke:%23ff3939;stroke-width:4;stroke-linecap:round;stroke-linejoin:round'/><path d='m 465,4 c 18,0 30,14 31,36 1,22 -11,36 -31,36 l -27,0 0,-72 z m -40,0 -54,0 0,72 54,0 m -54,-38 33,0 M 302,4 302,76 M 360,4 302,52 m 21,-17 37,41 M 291,21 C 288,13 281,4 262,4 c -19,0 -33,12 -33,36 0,24 14,36 33,36 19,0 26,-8 29,-17 M 151,41 c 0,16 11,35 34,35 23,1 32,-19 33,-36 C 218,23 208,5 185,4 162,4 152,23 151,40 z m -47,-37 0,72 50,0' style='fill:none;stroke:%2390ff54;stroke-width:2;stroke-linecap:round;stroke-linejoin:round'/></svg>"); }

/* ------------------------------------------------------------------------- */

 div.wrapper { position:absolute;
               top:-50vh;left:-200%;
               padding-top:195vh;
               padding-left:500%;
 }
 /*div.wrapper.fixed { margin:0!important; }*/

 div.ref, 
 div.element { position:absolute;margin:auto;
               top:0;right:0;bottom:0;left:0;
               background-color:transparent;
 }
 
 div.ref > div,
 div.element > div { position:absolute;
                     left:0;top:0;
                     width:100%;height:100%;
                     background-repeat: no-repeat;
                     background-size:100% 100%;
                     background-position: center;
 }

 div.ref > div { z-index:010000;
                 animation-name: none!important;
                 -o-animation-name: none!important;
                 -moz-animation-name: none!important;
                 -webkit-animation-name: none!important;
 }

 /* ------------------------------------------------------------------ */
    .movein { -webkit-animation-duration:0.5s;
              -webkit-animation-iteration-count: 1;
              -webkit-animation-timing-function: ease;
              -moz-animation-duration:0.5s;
              -moz-animation-iteration-count: 1;
              -moz-animation-timing-function: ease;
              -o-animation-duration:0.5s;
              -o-animation-iteration-count: 1;
              -o-animation-timing-function: ease;
              animation-duration:0.5s;
              animation-iteration-count: 1;
              animation-timing-function: ease;
    }
    
    .fromLeft { animation-name: fromLeft;
                -o-animation-name: fromLeft;
                -moz-animation-name: fromLeft;
                -webkit-animation-name: fromLeft;
    }
    
    .fromRight { animation-name: fromRight;
                 -o-animation-name: fromRight;
                 -moz-animation-name: fromRight;
                 -webkit-animation-name: fromRight;
    }

    .isLocked > .fromLeft,
    .isLocked > .fromRight { animation-name: noMove!important;
                             -o-animation-name: noMove!important;
                             -moz-animation-name: noMove!important;
                             -webkit-animation-name: noMove!important;
     }

    .fromLeft.arrowkey,
    .fromRight.arrowkey { animation-name: noMove!important;
                          -o-animation-name: noMove!important;
                          -moz-animation-name: noMove!important;
                          -webkit-animation-name: noMove!important;
    }


    .swipe.fromLeft { animation-name: fromLeft!important;
                      -o-animation-name: fromLeft!important;
                      -moz-animation-name: fromLeft!important;
                      -webkit-animation-name: fromLeft!important;
    }

    .swipe.fromRight { animation-name: fromRight!important;
                       -o-animation-name: fromRight!important;
                       -moz-animation-name: fromRight!important;
                       -webkit-animation-name: fromRight!important;
    }

 /* ------------------------------------------------------------------ */
    @keyframes fromRight
    { from { margin-left:50%; }
        to { margin-left:0;   }
    }
    @keyframes fromLeft
    { from { margin-left:-50%; }
        to { margin-left:0;    }
    }
    @-o-keyframes fromRight
    { from { margin-left:50%; }
        to { margin-left:0;   }
    }    
    @-o-keyframes fromLeft
    { from { margin-left:-50%; }
        to { margin-left:0;    }
    }
    @-moz-keyframes fromRight
    { from { margin-left:50%; }
        to { margin-left:0;   }
    }    
    @-moz-keyframes fromLeft
    { from { margin-left:-50%; }
        to { margin-left:0;    }
    }
    @-webkit-keyframes fromRight
    { from { margin-left:50%; }
        to { margin-left:0;   }
    }
    @-webkit-keyframes fromLeft
    { from { margin-left:-50%; }
        to { margin-left:0;    }
    }
    @keyframes noMove
    { from { margin-left:0; }
        to { margin-left:0;   }
    }
    @-o-keyframes noMove
    { from { margin-left:0; }
        to { margin-left:0;   }
    }    
    @-moz-keyframes noMove
    { from { margin-left:0; }
        to { margin-left:0;   }
    }    
    @-webkit-keyframes noMove
    { from { margin-left:0; }
        to { margin-left:0;   }
    }
 /* ------------------------------------------ */
/* ------------------------------------------------------------------------- */

 textarea#pinurl {
 
     position:absolute;
     top:2vh;left:0;z-index:4000000;
     width:100%;resize:none;
     padding:2vh;padding-bottom:0vh;
 
     text-align:center;
     font-size:1.5vw;
 }
 
 textarea#pinurl.hide { display:none; }
 
 textarea#pinurl.moveout,
 textarea#pinurl.movein {
   -webkit-animation-iteration-count: 1;
   -moz-animation-iteration-count: 1;
   -o-animation-iteration-count: 1;
    animation-iteration-count: 1;   
 }
 
 textarea#pinurl.movein {
   -webkit-animation-duration:0.8s;
   -webkit-animation-timing-function: ease-out;
   -moz-animation-duration:0.8s;
   -moz-animation-timing-function: ease-out;
   -o-animation-duration:0.8s;
   -o-animation-timing-function: ease-out;
    animation-duration:0.8s;
    animation-timing-function: ease-out;
 }
 
 textarea#pinurl.moveout {
   -webkit-animation-duration:1.0s;
   -webkit-animation-timing-function: ease;
   -moz-animation-duration:1.0s;
   -moz-animation-timing-function: ease;
   -o-animation-duration:1.0s;
   -o-animation-timing-function: ease;
    animation-duration:1.0s;
    animation-timing-function: ease;
 }
 
 textarea#pinurl.movein { 
    animation-name: down;
   -o-animation-name: down;
   -moz-animation-name: down;
   -webkit-animation-name: down;
 }
 
 textarea#pinurl.fixed {
    margin-top:0vh;
 }
 
 textarea#pinurl.moveout {
    animation-name: up;
   -o-animation-name: up;
   -moz-animation-name: up;
   -webkit-animation-name: up;
    margin-top:-40vh; 
 }
 
 @keyframes down 
 { from { margin-top: -40vh; }
     to { margin-top:   0;   }
 }
 @-o-keyframes down 
 { from { margin-top: -40vh; }
     to { margin-top:   0;   }
 }
 @-moz-keyframes down 
 { from { margin-top: -40vh; }
     to { margin-top:   0;   }
 }
 @-webkit-keyframes down 
 { from { margin-top: -40vh; }
     to { margin-top:   0;   }
 }
 
 @keyframes up 
 { from { margin-top:   0;   }
     to { margin-top: -40vh; }
 }
 @-o-keyframes up 
 { from { margin-top:   0;   }
     to { margin-top: -40vh; }
 }
 @-moz-keyframes up 
 { from { margin-top:   0;   }
     to { margin-top: -40vh; }
 }
 @-webkit-keyframes up 
 { from { margin-top:   0;   }
     to { margin-top: -40vh; }
 }

/* ------------------------------------------------------------------------- */

 div.badge { position:absolute;
             z-index:3000000;
             background-size:100%;
             background-repeat:no-repeat; }

 div.badge { top:4%; }
 @media screen and (min-width:1050px){ div.badge {width:120px;height:120px;}}
 @media screen and (max-width:1050px){ div.badge {width:100px;height:100px;}}
 @media screen and (max-width: 750px){ div.badge {width: 80px;height: 80px;}}

 div.badge > a {
     position:absolute;
     width:100%;height:100%;
     top:0;left:0;
     text-decoration:none;
     cursor:pointer; 
  /* Makes sure the link doesn't get underlined */
     z-index: 3000012;
  /* raises anchor tag above everything else in div */
     background-color: white;
  /* workaround to make clickable in IE */
     opacity: 0;
  /* workaround to make clickable in IE */
     filter: alpha(opacity=0);
  /* workaround to make clickable in IE */
 }

 #saved { visibility:hidden; }
 .isDone > #saved { visibility:visible; }

 #pin   { left: 2%; }
 #saved { left:15%; }
 @media screen and (min-width:1050px){
 #pin   { left:40px; } #saved { left:180px; }
 }
 @media screen and (max-width:580px){
 #pin   { left:10px; } #saved { left:95px; }
 }

 #pin { background-color:#eeeeee; }
 #pin:hover { background-color:#ffc400; }

 #saved { background-color:#eeeeee; }
 #saved:hover { background-color:#ffc400; }

/* ------------------------------------------------------------------------- */

