body {       width:100%;
       padding-top:70px;
        margin-top:-10%;
       text-align:center;
     /*overflow-x:hidden;*/ }

#menu { text-align:left;z-index:13000;}
#menu table { width:94%; }
#footerbox {   width:100%;
          text-align:left;
         margin-left:0;
          margin-top:20vh!important;}

body,#menu,#footerbox { background-color:#ffffff; }
#menu a, #menu,#menu .here { color:#000000;
                             border-bottom-color:#000000; }

#srcfull { color:#1b17cf; }
#by,#info { z-index:8000; }
#by { right:47px;}
#info { right:86px; }
#src,div.badge { display:none!important; }

/* ---------------------------------------------------------------------------- */
/* ICONS
   ------------------------- */

figcaption.href div.shorturl { background-color:#eeeeee; }
figcaption.href div.shorturl:hover { background-color:#cccccc; }
figcaption.href div.goto { background-color:#eeeeee; }
figcaption.href div.goto:hover { background-color:#cccccc; }

/* ---------------------------------------------------------------------------- */

figure { float:left; }
figure.a { /*width:20%;*/ width:50%;
       min-width:0;max-width:none;
          margin:    0!important;
         padding:    0!important;
     padding-top:   9%!important;
  padding-bottom: 60px!important;
   margin-bottom: -10%!important; 
   /*margin-left:   3%!important;*/
}
figure.a img { background-color:transparent; }

figure.b { position:relative;float:none!important;
            display:inline-block;overflow:hidden;
             margin:-1px!important;
             border: 1px #000000 solid;
   background-color:#f4f6f4; }

figure.b img { display:inline-block;float:none;
               max-width:none;min-width:0;}
figure.center { margin:0;padding:0; }

.target > figure.b,
:target > figure.b {
          border: 4px solid #ff3300;
          margin: -4px!important;
}

/* SIZE 
   ------------------------- */

figure.b { height:296px;min-width:0; }

figure.b img {       width:550px!important;
                margin-top:-2px!important;
               margin-left:-2px!important;  }

figure.b img.pending { width:700px!important; }

figure.b span.pending { position:absolute;
                        top:0;left:0;
                        height:85%;width:90%;
                        padding:5%;
                        padding-top:10%;
                        z-index:12000;
                        font-size:0.8em;
                        background-color:#fcafcb; /* FOR THE FANS */
}

figure.b span.pending > * { float:none;display:inline; }

figure.b { width:90%; }
figure.a { overflow-x:hidden; }
figure.center { width:200%;margin-left:-50%; }

/* CAPTION 
   ------------------------- */

figcaption { position:absolute;
             height:40px;width:100%;
             left:0;top:auto;bottom:0px;
             padding:0px;
             background-color:#f4f6f4;
             font-family:source-code-pro;
             font-size:12px;
             line-height:0.9em; }

figcaption.href div {
    position:absolute;
    top:0px;/*z-index:80000;*/
    height:40px;
    background-color: transparent;
    background-repeat:no-repeat;
    background-position: center center;
    margin:0;margin-top:0 !important;
}

figcaption.href div { width:20%; }
figcaption.href div:nth-of-type(1) { left: 0%; }
figcaption.href div:nth-of-type(2) { left:20%; }
figcaption.href div:nth-of-type(3) { left:40%; }
figcaption.href div:nth-of-type(4) { left:60%; }
figcaption.href div:nth-of-type(5) { left:80%; }

figcaption.href > div > a {
    position:absolute;
    width:100%;height:100%;
    top:0;left:0;
    text-decoration:none;
 /* Makes sure the link doesn't get underlined */
    z-index: 12;
 /* raises anchor tag above everything else in div */
    background-color: white;
 /* workaround to make clickable in IE */
    opacity: 0;
 /* workaround to make clickable in IE */
    filter: alpha(opacity=0);
 /* workaround to make clickable in IE */
}

figcaption { opacity: 0;
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            transform: translateY(100%);
}

figure.b:hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
        z-index:12000;
}

figure.b:hover {  background-color:#FAFAFA;
                /*background-position:0 -20px;*/
                /*background: transparent url(_/iosref.png) 0 -20px no-repeat!important;*/ }

figure.b:hover img {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
}

figure.b > a:hover,a:hover > img,
figure.b img:hover { border: none;
                     opacity:1;
                     background-color:transparent; }

@media screen and (min-width:2200px){figure.a{width: 14.25%;}}
@media screen and (max-width:2200px){figure.a{width: 20.00%;}}
@media screen and (max-width:1700px){figure.a{width: 25.00%;}}
@media screen and (max-width:1300px){figure.a{width: 33.00%;}}
@media screen and (max-width: 900px){figure.a{width: 50.00%;}}
@media screen and (max-width: 500px){figure.a{width:100.00%;}}

